<div class="expansion-panel">
  <div class="expansion-panel__header" (click)="togglePanel()">
    <img
      [class.rotate]="isExpanded"
      class="button__icon"
      [src]="pathImages + 'icons/chevron.down.svg'"
      alt="chevron.down"
    />
    Мои: {{ visibleTasks.length }}
  </div>

  <div
    #content
    [ngClass]="{ expanded: isExpanded }"
    class="expansion-panel__content"
  >
    @for (task of visibleTasks; track task.id) {
    <app-task [taskData]="task"></app-task>
    } @empty {
    <div class="no-tasks-message">Нет задач для отображения</div>
    }
  </div>
</div>
