@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin counter-badge {
  position: absolute;
  border-radius: 16px;
  padding: 0 4px;
  color: #fff;
  font: 500 11px/16px "Inter", sans-serif;
}