<ng-scrollbar class="scroll">
  <div class="in-work">
    <div class="in-work__title">В работе:</div>
    @if (inProgressTask; as task) {
    <app-task [taskData]="task"></app-task>
    } @else {
    <div class="no-task-message">Нет задач в работе</div>
    }
  </div>

  <div class="in-pause">
    <div class="in-pause__title">На паузе: {{ tasks.length }}</div>

    @for (task of tasks; track task.id) {
    <app-task [taskData]="task"></app-task>
    } @empty {
    <div class="no-task-message">Нет задач на паузе</div>
    }
  </div>
</ng-scrollbar>
