<div class="sidebar">
  <div class="sidebar__date">
    Вторник, 27 Октября
  </div>
  <div class="sidebar__group-btn">
    <!-- Продукты -->
    <div class="sidebar-group-btn__filter products">
      <mat-form-field appearance="outline" class="custom-select" floatLabel="auto">
        <mat-label>Все продукты</mat-label>
        <mat-select
          disableOptionCentering
          [disableRipple]="true"
          panelClass="custom-dropdown"
          [(value)]="selectedProduct"
        >
          <mat-option *ngFor="let product of products" [value]="product.value">
            <img
              [src]="'assets/images/icons/filters/products/' + product.icon + '.svg'"
              [alt]="product.icon"
              class="dropdown-icon"
            />
            {{ product.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Категории -->
    <div class="sidebar-group-btn__filter category">
      <mat-form-field appearance="outline" class="custom-select" floatLabel="auto">
        <mat-label>Все задачи</mat-label>
        <mat-select
          disableOptionCentering
          [disableRipple]="true"
          panelClass="custom-dropdown"
          [(value)]="selectedTask"
        >
          <mat-option *ngFor="let task of tasks" [value]="task.value">
            <img
              [src]="'assets/images/icons/filters/category/' + task.icon + '.svg'"
              [alt]="task.icon"
              class="dropdown-icon"
            />
            {{ task.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
