@use "colors.scss" as c;
.header {
    border-top: 4px solid c.$active-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-bottom: 8px;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    max-width: 661px;
    width: 100%;
    padding-top: 12px;
    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        &:hover {
            svg path {
                fill: c.$active_blue;
            }
        }
        svg {
            margin-right: 8px;
            &.chevron {
                margin-right: 0;
                margin-left: 8px;
                cursor: not-allowed;
            }
        }
        a {
            display: flex;
            font-size: 14px;
            line-height: 21px;
            color: c.$text-secondary;
            text-decoration: none;
            @extend .inter-400;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            &:hover {
                color: c.$active-blue;
            }
        }
    }
}
.divider {
    display: flex;
    position: relative;
    width: 1px;
    height: 100%;
    &::after {
        content: "";
        width: 1px;
        top: 0;
        bottom: 0;
        right: 0;
        background: c.$divider;
    }
}

.button {
    width: 118px;
    height: 31px;
}
.header-rs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin-top: 12px;
    &__clock {
        border-radius: 6px;
        box-shadow:
            0px 5px 10px 0px rgba(51, 75, 85, 0.15),
            0px -1px 4px 0px rgba(50, 77, 89, 0.07);
        background: c.$active-blue;
        color: #fff;
        @extend .roboto-500;
        padding: 4px 6px 4px 6px;
        margin-right: 12px;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        svg {
            margin-right: 2px;
        }
    }
    &__notification {
        @extend .inter-400;
        font-size: 13px;
        line-height: 18px;
        white-space: nowrap;
        color: c.$text-text;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin-right: 12px;
        svg {
            margin-right: 2px;
        }
        span {
            white-space: nowrap;
            width: 334px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        img {
            max-width: 100%;
        }
    }
    &__comment {
        position: relative;
        margin-right: 12px;
        border: 0.5px solid rgba(black, 0.04);
        border-radius: 6px;
        /* massage */
        box-shadow: 0px 2px 5px 0px rgba(black, 0.07);
        background: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
}
.header-rs-comment {
    &__text {
        position: absolute;
        z-index: 1;
        padding: 2px 6px 2px 6px;
        background-color: c.$red;
        border-radius: 16px;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        @extend .inter-500;
        color: #fff;
        right: 0;
        left: 11px;
        top: -6px;
        width: 26px;
    }
}
.header-mobile {
    display: none;
}
 
@media screen and (max-width: 767px) {
    .header {
        display: none;
    }
    app-top-sidebar {
        display: none;
    }
    .header-mobile {
        width: 280px;
        height: 60px;
        border-radius: 30px;
        box-shadow:
            0px 12px 24px 0px rgba(0, 7, 62, 0.1),
            0px 2px 6px 0px rgba(0, 7, 62, 0.05);
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        position: fixed;
        bottom: 12px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 12px;
    }
    .header-mobile-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        width: 100%;
        &__item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            width: 80px;
            cursor: pointer;
            margin-right: 4px;
            position: relative;
            & .count-chat {
                position: absolute;
                border-radius: 16px;
                padding: 0px 4px 0px 4px;
                background: c.$red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: "Inter", serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-size: 11px;
                line-height: 16px;
                top: -6px;
                right: 17px;
            }
            & .count-team {
                position: absolute;
                padding: 0px 4px 0px 4px;
                border-radius: 16px;
                color: #fff;
                font-family: "Inter", serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                background: c.$active_blue;
                top: -8px;
                right: 22px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
