@use "colors" as c;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	@extend .inter-400;
	background: c.$bg_grayDark;
}

.button {
	@extend .inter-400;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	padding: 16px 0;
	cursor: pointer;
	width: 132px;
	&__icon {
		margin-right: 6px !important;
	}
	&.red {
		color: c.$red;
		border: 1px solid rgba(c.$red, 0.1);
		background: rgba(c.$red, .05);
		&:hover {
			border: 1px solid rgba(c.$red, .2);
			background: rgba(c.$red, .1);
		}
	}
	&.green {
		color: c.$green;
		border: 1px solid rgba(c.$green, 0.1);
		background: rgba(c.$green, .05);
		&:hover {
			border: 1px solid rgba(c.$green, 0.2);
			background: rgba(c.$green, .1);
		}
	}
	&.blue {
		color: c.$active_blue;
		border: 1px solid rgba(c.$active_blue, 0.1);
		background: rgba(c.$active_blue, .05);
		&:hover {
			border: 1px solid rgba(c.$active_blue, 0.2);
			background: rgba(c.$active_blue, 0.1);
		}
	}
	&.grey {
		color: c.$text-secondary;
		border: 1px solid rgba(c.$text-secondary, 0.1);
		background: rgba(c.$text-secondary, .05);
		&:hover {
			border: 1px solid rgba(c.$text-secondary, 0.2);
			background: rgba(c.$text-secondary, .1);
		}
		}

}


.mat-mdc-tab.mdc-tab {
	margin-right: 12px;
	min-width: none;
	padding: 0 8px;
}

.ng-scroll-content {
	padding-right: 16px !important;
}
@media screen and (max-width: 767px) {

	app-top-sidebar {
		display: none;
	}

  }


  .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    flex: 1;
    position: relative;
    padding-top: 20px;
  
    &__ls {
      width: 50%;
      margin-right: 16px;
      position: relative;
    }
    
    &__rs {
      width: 50%;
      position: relative;
    }
  }

  @media screen and (max-width: 767px) {

    .layout {
      flex-wrap: wrap;
      
      &__rs,
      &__ls {
        width: 100%;
        margin-right: 0;
        position: static;
      }
      
      &__rs {
        order: -1;
        padding-top: 16px;
      }
    }
  }
  .page-construction {
	text-align: center;
    padding: 30px;
	img {
		max-width: 500px;
		width: 100%;
	}
  }